* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  //     background-image: url(images/bg.png);
  background-size: cover;
  background-repeat: repeat;
  position: relative;
  //   width: 100%;
  //   height: 100vh;
}

@property --startColor {
  syntax: "<color>";
  inherits: false;
  initial-value: rgba(101, 122, 92, 1);
}

@property --midColor {
  syntax: "<color>";
  inherits: false;
  initial-value: rgba(255, 255, 255, 0);
}

@property --endColor {
  syntax: "<color>";
  inherits: false;
  initial-value: rgba(178, 191, 148, 1);
}

.index-body {
  .news-item {
    position: absolute;
    top: 4vw;
    z-index: 3;
    right: 2vw;
    width: 6vw;
    height: 6vw;
    background-image: url(../images/news-bg.png);
    background-size: cover;
    background-repeat: no-repeat;

    @media all and (max-width: 1440px) {
      width: 6.8vw;
      height: 6.8vw;
    }

    @media all and (max-width: 1024px) {
      display: none;
    }

    a {
      display: flex;
      position: relative;
      flex-direction: column;
      // padding-top: 1vw;
      // padding-bottom: 1vw;
      height: 100%;
      align-items: center;
      justify-content: center;
      padding-top: 6%;

      @media all and (max-width: 1440px) {
        padding-top: 1.5vw;
      }

      .news-title {
        top: 0px;
        font-family: "Noto Serif TC";
        color: #4f563f;
        font-weight: bold;
        text-align: center;
        letter-spacing: 0.1em;
        font-size: 0.9vw;
      }

      .more {
        font-family: "Cormorant Garamond";
        color: #000000;
        font-size: 24pt;
        font-weight: 500;
        letter-spacing: 0.1em;
        font-style: italic;
        margin-top: 0.1vw;
        text-align: center;
        font-size: 1vw;
        line-height: 1;

        @media all and (max-width: 1440px) {
          font-size: 1.3vw;
        }
      }

      img {
        width: 70%;
      }
    }
  }

  .news-item-moblie {
    display: none;

    @media all and (max-width: 1024px) {
      display: flex;
      position: fixed;
      top: 21vw;
      left: 16.5vw;
      margin: 0 auto;
      justify-content: center;
      text-align: center;
      align-items: center;
      align-self: center;
      align-content: center;
      z-index: 99;
      // border: 1.5px solid #fff;
      line-height: 6vw;
      padding: 1vw 4.5vw;
      border-radius: 4vw;
      // &::before {
      //   content: "";
      //   position: absolute;
      //   left: 0;
      //   right: 0;
      //   top: 0;
      //   bottom: 0;
      //   background-image: linear-gradient(
      //     to right,
      //     rgba(101, 122, 92, 1) 0%,
      //     rgba(255, 255, 255, 0) 80%,
      //     rgba(178, 191, 148, 1) 100%
      //   );
      //   width: 100%;
      //   height: 100%;
      //   animation: rotate 8s linear infinite;
      // }

      .news-item-border {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        // background: var(--borderGradient);
        background: linear-gradient(
          to right,
          var(--startColor) 0%,
          var(--midColor) 80%,
          var(--endColor) 100%
        );
        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        mask-composite: xor;
        padding: 2px;
        border-radius: 4vmax;
        animation: gradientShift 3s linear infinite;
        // animation: rotate 8s linear infinite;
      }
      @keyframes gradientShift {
        0% {
          --startColor: rgba(101, 122, 92, 1);
          --midColor: rgba(255, 255, 255, 0);
          --endColor: rgba(178, 191, 148, 1);
        }
        50% {
          --startColor: rgb(204, 233, 138);
          --midColor: rgba(101, 122, 92, 1);
          --endColor: rgb(26, 41, 21);
        }
        100% {
          --startColor: rgba(101, 122, 92, 1);
          --midColor: rgba(255, 255, 255, 0);
          --endColor: rgba(178, 191, 148, 1);
        }
      }
      @keyframes rotate {
        from {
          transform: rotate(0);
        }

        to {
          transform: rotate(360deg);
        }
      }

      //  linear-gradient(to right, rgba(101,122,92,1) 0%,rgba(255,255,255,0) 80%,rgba(178,191,148,1) 100%);
    }

    a {
      display: flex;
    }

    .news-title-fixed {
      font-family: "Cormorant Garamond";
      color: #000000;
      font-weight: 500;
      letter-spacing: 0.1em;
      font-style: italic;
      font-size: $sub-title;
    }

    .news-title {
      top: 0px;
      font-family: "Noto Serif TC";
      color: #4f563f;
      font-weight: bold;
      text-align: center;
      letter-spacing: 0.1em;
      font-size: $content;
      margin-left: 2vw;
    }

    .more {
      font-family: "Cormorant Garamond";
      color: #000000;
      font-weight: 500;
      letter-spacing: 0.1em;
      font-style: italic;
      font-size: $sub-title;

      &::before {
        content: "";
        display: inline-block;
        width: 10vw;
        height: 1.5px;
        position: relative;
        background: #9a9a9a;
        margin: 0vw 2.5vw;
        transform: translateY(-0.5vw);
      }
    }
  }

  #index-footer {
    .address,
    .phone,
    .footer-fb-box,
    .footer-yt-box,
    .footer-email-box,
    .footer-icon {
      @media all and (max-width: 1024px) {
        display: none;
      }

      color: #808080;
    }
  }
}

.index-pop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 49vw;
  height: 31.5vw;
  //   background-color: red;
  margin: auto;
  z-index: 999;
  visibility: hidden;
  @media screen and (max-width: 1024px) {
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.5);
  }
  &.active {
    opacity: 1;
    visibility: visible;
  }
  &.back {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 1s;
  }
  .popup-inside {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 0.75vmax;
    box-shadow: 0 0 0 black;
    transition: box-shadow 0.5s ease 0.7s, border-radius 0.35s ease 0.7s;
    @media screen and (max-width: 1024px) {
      right: 0;
      bottom: 0;
      width: 84.5vw;
      height: 80vh;
      margin: auto;
    }
    &.active {
      box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.75);
    }
    &.back {
      transition: all 0.5s ease 0s;
    }
    .backgrounds {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      overflow: hidden;
    }

    .background {
      --offset: 0;
      position: absolute;
      left: var(--offset);
      right: var(--offset);
      bottom: var(--offset);
      top: var(--offset);
      background: linear-gradient(
        to right,
        rgba(79, 90, 54, 1) 0%,
        rgba(189, 203, 150, 1) 100%
      );
      transform: scale(0);
      transition: all 0.5s ease 0s;
      border-radius: 0.75vmax;
      &.active {
        transform: scale(1);
      }
      &.back {
        transition: all 0.5s ease 0.6s;
      }
    }

    .background2 {
      --offset: 10%;
      position: absolute;
      left: var(--offset);
      right: var(--offset);
      bottom: var(--offset);
      top: var(--offset);
      background: linear-gradient(
        to right,
        rgba(103, 122, 83, 1) 0%,
        rgba(194, 209, 168, 1) 100%
      );
      transform: scale(0);
      transition: all 0.5s ease 0.1s;
      &.back {
        transition: all 0.5s ease 0.5s;
      }
    }

    .background3 {
      --offset: 20%;
      position: absolute;
      left: var(--offset);
      right: var(--offset);
      bottom: var(--offset);
      top: var(--offset);
      background: linear-gradient(
        to right,
        rgba(125, 154, 111, 1) 0%,
        rgba(198, 216, 186, 1) 100%
      );
      z-index: 2;
      transition: all 0.5s ease 0.2s;
      &.back {
        transition: all 0.5s ease 0.4s;
      }
    }

    .background4 {
      --offset: 30%;
      position: absolute;
      left: var(--offset);
      right: var(--offset);
      bottom: var(--offset);
      top: var(--offset);
      background: linear-gradient(
        to right,
        rgba(147, 185, 138, 1) 0%,
        rgba(203, 222, 203, 1) 100%
      );
      z-index: 3;
      transition: all 0.5s ease 0.3s;
      &.back {
        transition: all 0.5s ease 0.3s;
      }
    }

    .background5 {
      --offset: 40%;
      position: absolute;
      left: var(--offset);
      right: var(--offset);
      bottom: var(--offset);
      top: var(--offset);
      background: linear-gradient(
        to right,
        rgba(170, 216, 166, 1) 0%,
        rgba(207, 228, 221, 1) 100%
      );
      z-index: 4;
      transition: all 0.5s ease 0.4s;
      &.back {
        transition: all 0.5s ease 0.2s;
      }
    }

    .background6 {
      --offset: 40%;
      position: absolute;
      left: var(--offset);
      right: var(--offset);
      bottom: var(--offset);
      top: var(--offset);
      background: white;
      z-index: 5;
      transition: all 0.8s ease 0.5s;
      &.active {
        transform: scale(8);
      }
      &.back {
        transition: all 0.5s ease 0.1s;
      }
    }
  }
  .pop-content {
    --offset: 0;
    position: absolute;
    left: var(--offset);
    right: var(--offset);
    bottom: var(--offset);
    top: var(--offset);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.35s ease 0.75s;
    padding-block: 4%;
    z-index: 10;
    &.back {
      transition: all 0.35s ease 0s;
    }
    @media screen and (max-width: 1024px) {
      padding-block: 10%;
      width: 84.5vw;
      height: 80vh;
      margin: auto;
    }

    .pop-close {
      position: absolute;
      top: -12%;
      right: -10%;
      width: 3.5vw;
      height: 3.5vw;
      border-radius: 50%;
      background-color: #4f563f;
      box-shadow: 0px 0px 10px black;
      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
        padding: 32%;
      }
      @media screen and (max-width: 1024px) {
        position: fixed;
        top: 3.5vw;
        right: 7%;
        width: 7vw;
        height: 7vw;
      }
      @include mobile {
        top: 4.75vw;
        right: 7%;
        width: 9vw;
        height: 9vw;
      }
    }
    ::-webkit-scrollbar-track-piece {
      background: transparent;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #808d67;
      border: 1px solid slategrey;
    }
    ::-webkit-scrollbar-track {
      box-shadow: transparent;
    }
    &.active {
      opacity: 1;
      transform: none;
    }
    .pop-content-border {
      width: 95%;
      height: 100%;
      overflow-y: scroll;
      display: flex;
      align-items: center;
      flex-flow: column;
    }
    .pop-content-container {
      position: relative;
      width: 85%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      @media screen and (max-width: 1024px) {
        align-items: center;
      }
      .content-image {
        width: 100%;
        display: flex;
        img {
          width: 100%;
          object-fit: cover;
          border-radius: 1vmax;
          @media screen and (max-width: 1024px) {
            border-radius: 3vmax;
          }
        }
      }
      .content-title {
        @include fontSize30pt();
        letter-spacing: 0.1em;
        font-weight: 500;
        margin-top: 1vw;
        margin-bottom: 0.5vw;
        color: #4e5e2c;
        @media screen and (max-width: 1024px) {
          font-size: 5.5vw;
          margin-top: 4vw;
          margin-bottom: 3vw;
        }
      }
      .content-small-title {
        @include fontSize16pt();
        font-family: "微軟正黑體";
        line-height: 2;
        margin-bottom: 0.25vw;
        letter-spacing: 0.1em;
        color: #595959;
        @media (max-width: 1024px) {
          font-size: 3.7vw;
        }
      }
      .content-para {
        @include fontSize16pt();
        font-family: "微軟正黑體";
        line-height: 2;
        letter-spacing: 0.1em;
        color: #595959;
        @media (max-width: 1024px) {
          text-align: center;
          font-size: 3.7vw;
        }
      }
    }
  }
}

.light-video {
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  pointer-events: none;
  opacity: 0.2;
  z-index: 999;
  mix-blend-mode: plus-lighter;
  // transform: rotateY(180deg);

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.contanier {
  background-image: url(../images/bgNEW.png);
  // background-size: 180%;
  background-size: 190%;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(var(--vh, 2.8vh) * 100);
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;

  @media all and (max-width: 1680px) {
    background-size: 216%;
  }

  @media all and (max-width: 1440px) {
    padding-bottom: 3.5vw;
    background-size: 220%;
  }

  @media all and (max-width: 1400px) {
    background-size: 250%;
  }

  @media all and (max-width: 1366px) {
    background-size: 217%;
  }

  @media all and (max-width: 1024px) {
    background-image: url(../images/bg.png);
    background-size: 320% 100%;
    padding-bottom: 0vw;
  }

  @media all and (max-width: 800px) {
    background-size: 275% 100%;
  }

  @media all and (max-width: 500px) {
    background-size: 350% 100%;
    background-position: center;
    padding-bottom: 3vw;
  }

  .tree-shadow {
    position: absolute;
    right: -42%;
    mix-blend-mode: darken;
    transform: rotate(-3deg);
    // transform: rotate(0deg);
    top: -3vw;
    z-index: 2;

    @media all and (max-width: 1024px) {
      // display: none;
      top: -6vw;
      right: -310vw;
    }

    img {
      width: 83vw;

      @media all and (max-width: 1024px) {
        width: 270vw;
        height: 75vh;
      }
    }
  }

  .bg-shadow {
    position: absolute;
    top: -35vw;
    right: -1vw;
    z-index: 1;

    @media all and (max-width: 1680px) {
      top: -29vw;
    }

    @media all and (max-width: 1400px) {
      top: -22vw;
    }

    @media all and (max-width: 1366px) {
      top: -29vw;
    }

    @media all and (max-width: 1024px) {
      height: 142%;
    }

    @media all and (max-width: 550px) {
      height: 128%;
    }

    img {
      width: 400vw;
      // position: fixed;
      // top: -12vw;
      // left: -1vw;
      // z-index: 1;

      @media all and (max-width: 1680px) {
        top: -2vw;
      }

      @media all and (max-width: 1440px) {
        top: -1vw;
      }

      @media all and (max-width: 1366px) {
        top: -4vw;
      }

      @media all and (max-width: 1280px) {
        top: -3vw;
      }

      @media all and (max-width: 1024px) {
        // position: absolute;
        // top: 2vw;
        // left: -10vw;
        height: 103%;
      }

      @media all and (max-width: 500px) {
        // top: -18vw;
        top: 0vw;
        left: -100vw;
        // opacity: 0.8;
        height: 103%;
      }

      img {
        width: 110%;

        @media all and (max-width: 1680px) {
          width: 120%;
        }

        @media all and (max-width: 1440px) {
          width: 105%;
        }

        @media all and (max-width: 1400px) {
          width: 125%;
        }

        @media all and (max-width: 1366px) {
          width: 100%;
        }

        @media all and (max-width: 1280px) {
          width: 110%;
        }

        @media all and (max-width: 1024px) {
          height: 100%;
        }

        @media all and (max-width: 500px) {
          width: 128%;
        }
      }
    }
  }

  @media all and (max-width: 1024px) {
    ::-webkit-scrollbar {
      display: none;
    }
  }

  .scroll-card-box {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    // padding-top: 15vw;
    z-index: 10;

    @media all and (max-width: 1024px) {
      width: 245vw;
      height: calc(var(--vh, 2.8vh) * 75);
    }

    @media all and (max-width: 550px) {
      width: 330vw;
    }

    .card-box {
      perspective: 1000px;

      .card {
        cursor: pointer;
        position: relative;
        z-index: 10;
        transform-style: preserve-3d;
      }
    }
  }
}

.navigation_box {
  display: none;
  @media (max-width: 1024px) {
    display: flex;
    justify-content: center;
    gap: 10%;
    position: absolute;
    top: 83%;
    width: 100%;
    z-index: 10;
  }
  .prev_btn,
  .next_btn {
    width: 15%;
    padding: 2%;
    opacity: 0.7;
    img {
      width: 100%;
    }
  }
  .prev_btn {
    transform: rotateY(180deg);
  }
}

.movie_box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  filter: blur(0px) brightness(1);

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .skip_div {
    position: absolute;
    bottom: 7%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;

    a {
      color: #fff;
      background-color: #4c513d;
      width: 45px;
      height: 45px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      letter-spacing: 0px;
      font-size: 12px;
      transition: all 0.5s;

      &:hover {
        color: #4c513d;
        background-color: #fff;
      }
    }
  }
}
