.renewal-body {
  // background-image: url(/assets/images/renew/renewal-pure-bg@2x.webp);
  background-image: linear-gradient(
    to bottom,
    rgba(223, 223, 223, 0) 0%,
    rgba(223, 223, 223, 0.34) 34%,
    rgba(223, 223, 223, 1) 100%
  );
  width: 100%;
  background-size: cover;
  background-position: center;
  .renewal-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    .top-container {
      width: 100%;
      padding-top: 5vw;
      display: flex;
      justify-content: center;

      // height: calc(var(--vh, 2.8vh) *100);
      @media all and (max-width: 1920px) {
        padding-top: 8vw;
      }

      @media all and (max-width: 1024px) {
        height: auto;
        padding-top: 20vw;
      }

      .transitions-item {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-bottom: 50vw;

        @media all and (max-width: 1024px) {
          padding-bottom: 155vw;
        }

        img {
          width: 45%;

          @media all and (max-width: 1024px) {
            width: 80%;
          }
        }
      }
    }
    .renewal-container {
      display: flex;
      width: 100%;
      padding-bottom: 0vw;
      flex-direction: column;
      position: relative;
      overflow: hidden;
      // background-image: url(/assets/images/renew/renewal-bg@2x-02.webp);
      // background-position: 50% -130%;
      // background-repeat: no-repeat;
      // background-size: 130%;
      // transform: translate3d(0, 0, 0);
      @media screen and (max-width: 1024px) {
        // background-image: url(/assets/images/renew/renewal-bg-mb@2x.webp);
      }
      .page-title-box {
        display: flex;
        width: 100%;
        margin-top: 5vw;
        flex-direction: column;
        .page-title-img {
          display: flex;
          width: 100%;
          justify-content: center;
          padding-right: 0.5vw;
          #page-title-img-svg {
            height: 5vw;
            @media all and (max-width: 1024px) {
              height: 15vw;
              padding-right: 2vw;
            }

            @media all and (max-width: 500px) {
              // width: 39%;
              padding-right: 1.5vw;
            }
          }
        }
        .page-title {
          margin-top: 2vw;
          display: flex;
          width: 100%;
          justify-content: center;
          color: #000000;
          font-family: "Noto Serif TC", serif;
          font-size: 1.4vw;
          letter-spacing: 0.45em;
          font-weight: 600;

          @media all and (max-width: 1024px) {
            font-size: $big-title;
          }
        }
      }
      .content {
        width: 100%;
        position: relative;
        margin-top: 4%;
        display: flex;
        justify-content: center;
        @media screen and (max-width: 1024px) {
          margin-top: 13vw;
        }
        .content-bg {
          position: absolute;
          left: 50%;
          top: 0;
          transform: translate(-50%, 0%);
          pointer-events: none;
          width: 134.25%;

          img {
            width: 100%;
          }
          @media screen and (max-width: 1024px) {
            width: 100%;
          }
        }
        .content-bg-border {
          position: absolute;
          left: 50%;
          top: 0;
          transform: translate(-50%, 0%);
          pointer-events: none;
          width: 133vw;
          height: 133vw;
          background-repeat: no-repeat;
          background-size: 100% 40vw;
          background-image: linear-gradient(
            to bottom,
            rgb(178, 191, 148) 0%,
            rgba(255, 255, 255, 0) 100%
          );
          border-radius: 50%;
          @media screen and (max-width: 1024px) {
            width: 185vw;
            height: 133vw;
          }
        }
        .content-list {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-wrap: wrap;
          z-index: 2;
          width: 75%;
          gap: 12vw 5vw;
          margin-top: 20%;
          padding-bottom: 17vw;
          @media screen and (max-width: 1024px) {
            width: 87%;
            align-items: flex-start;
            gap: 20vw;
            margin-bottom: 25vw;
            margin-top: 27vw;
          }
          @include mobile {
            margin-top: 30vw;
            margin-bottom: 43vw;
          }
          .content-item {
            display: flex;
            align-items: center;
            flex-direction: column;
            cursor: pointer;
            &:nth-child(3n + 3) {
              .content-item-container {
                margin-bottom: -12vw;
                @media screen and (max-width: 1024px) {
                  margin-bottom: 0vw;
                }
              }
            }
            &:nth-child(6n + 4) {
              margin-left: 4vw;
              @media screen and (max-width: 1024px) {
                margin-left: 0;
              }
            }
            &:nth-child(6n + 5) {
              .content-item-container {
                margin-left: 33%;
                @media screen and (max-width: 1024px) {
                  margin-left: 0;
                }
              }
            }
            &:nth-child(6n + 6) {
              .content-item-container {
                margin-left: 50%;
                @media screen and (max-width: 1024px) {
                  margin-left: 0;
                }
              }
            }
            .content-item-container {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              will-change: transform;
            }
            .content-item-img {
              display: flex;
              align-items: center;
              flex-direction: column;
              a {
                height: 100%;
                width: 100%;
              }
            }

            &:nth-child(3n + 2) {
              margin-top: -20%;
              @media screen and (max-width: 1024px) {
                margin-top: 0;
              }
              .content-item-img {
                mask-image: url("/assets/images/renew/renewal-item-mask-reverse@2x.webp");
              }
            }
            &:nth-child(3n + 3) {
              .content-item-img {
                mask-image: url("/assets/images/renew/renewal-item-mask-reverse@2x.webp");
              }
            }
            &:nth-child(2n + 1) {
              @media screen and (max-width: 1024px) {
                margin-left: auto;
                .content-item-container {
                  align-items: flex-start;
                  .content-item-img {
                    mask-image: url("/assets/images/renew/renewal-item-mask-reverse@2x.webp");
                  }
                  .content-item-title {
                    margin-left: 4%;
                  }
                }
              }
            }
            &:nth-child(2n + 2) {
              @media screen and (max-width: 1024px) {
                .content-item-container {
                  align-items: flex-end;
                  .content-item-img {
                    mask-image: url("/assets/images/renew/renewal-item-mask-2@2x.webp");
                  }
                  .content-item-title {
                    margin-right: 4%;
                  }
                }
              }
            }
            .content-item-img {
              position: relative;
              width: 16.3vw;
              height: 16.3vw;
              mask-image: url("/assets/images/renew/renewal-item-mask-2@2x.webp");
              mask-repeat: no-repeat;
              mask-position: center;
              mask-size: 100% 100%;
              overflow: hidden;
              img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
              @media screen and (max-width: 1024px) {
                width: 63vw;
                height: 63vw;
              }
              .hover-item {
                @include fontSize24pt();
                letter-spacing: 0.1em;
                text-align: center;
                line-height: 2;
                font-family: "Noto Serif TC", serif;
                font-weight: 500;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 0;
                color: white;
                background-color: rgb(79 86 63 / 90%);
                transition: all 0.3s ease-in-out;
                .hover-item-text {
                  width: 70%;
                  text-align: center;
                  @media screen and (max-width: 1024px) {
                    width: 100%;
                  }
                }
                @media screen and (max-width: 1024px) {
                  font-size: 3.9vw;
                  text-align: center;
                  .hover-item-text {
                    width: 75%;
                    text-align: center;
                  }
                }
              }
              &:hover {
                // img {
                //   transform: scale(1.1);
                //   transition: all 0.3s;
                // }
                .hover-item {
                  opacity: 1;
                  transition: all 0.3s ease-in-out;
                }
              }
            }
            .content-item-title {
              @include fontSize24pt();
              color: #595959;
              letter-spacing: 0.1em;
              font-family: "Noto Serif TC", serif;
              font-weight: 600;
              margin-top: 3%;
              @media screen and (max-width: 1024px) {
                font-size: 3.9vw;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}
