.renewal-body {
  .renewal-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    .top-container {
      width: 100%;
      padding-top: 5vw;
      display: flex;
      justify-content: center;

      // height: calc(var(--vh, 2.8vh) *100);
      @media all and (max-width: 1920px) {
        padding-top: 8vw;
      }

      @media all and (max-width: 1024px) {
        height: auto;
        padding-top: 20vw;
      }

      .transitions-item {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-bottom: 50vw;

        @media all and (max-width: 1024px) {
          padding-bottom: 155vw;
        }

        img {
          width: 45%;

          @media all and (max-width: 1024px) {
            width: 80%;
          }
        }
      }
    }
    .renewal-container {
      display: flex;
      width: 100%;
      padding-top: 5vw;
      padding-bottom: 4vw;
      flex-direction: column;
      position: relative;
      overflow: hidden;
      .page-title-box {
        display: flex;
        width: 100%;
        flex-direction: column;
        .page-title-img {
          display: flex;
          width: 100%;
          justify-content: center;
          padding-right: 0.5vw;
          #page-title-img-svg {
            height: 5vw;
            @media all and (max-width: 1024px) {
              height: 15vw;
              padding-right: 2vw;
            }

            @media all and (max-width: 500px) {
              // width: 39%;
              padding-right: 1.5vw;
            }
          }
        }
        .page-title {
          margin-top: 2vw;
          display: flex;
          width: 100%;
          justify-content: center;
          color: #000000;
          font-family: "Noto Serif TC", serif;
          font-size: 1.4vw;
          letter-spacing: 0.45em;
          font-weight: 600;

          @media all and (max-width: 1024px) {
            font-size: $big-title;
          }
        }
      }
      .content {
        width: 100%;
        position: relative;
        .content-bg {
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }
}
