
#test{
    .txt_box{
        max-width: 900px;
        margin: auto;
        padding: 6vw 0;
    }
    .txt_box h1{
        margin-bottom: 1vw;
    }
    .txt_box p{
        font-size: 16px;
        line-height: 2;
        letter-spacing: 0.5px;
    }
}
