@mixin tablet {
    @media(max-width:900px) {
        @content;
    }
}

@mixin mobile {
    @media(max-width:500px) {
        @content;
    }
}


@mixin fontSize40pt() {
    font-size: 40pt;
    font-size: 50px;
    // font-size: 5vw;
}

@mixin fontSize28pt() {
    font-size: 28pt;
    font-size: 37px;
    font-size: 16px;
    // font-size: 3.7vw;
}

@mixin fontSize30pt() {
    font-size: 30pt;
    font-size: 40px;
    font-size: 1.28vw;

    @media all and (max-width:1440px) {
        font-size: 1.7vw;
    }
}

@mixin fontSize24pt() {
    font-size: 24pt;
    font-size: 32px;
    font-size: 1.15vw;

    @media all and (max-width:1440px) {
        font-size: 1.4vw;
    }

}

@mixin fontSize18pt() {
    font-size: 18pt;
    font-size: 24px;
    font-size: 0.78vw;

    @media all and (max-width:1440px) {
        font-size: 1vw;
    }
}

@mixin fontSize16pt() {
    font-size: 16pt;
    font-size: 23px;
    font-size: 0.8vw;

    @media all and (max-width:1920px) {
        font-size: 17px;
    }

    @media all and (max-width:1440px) {
        font-size: 1vw;
    }
}

@mixin fontSize12pt() {
    font-size: 12pt;
    font-size: 16px;
    font-size: 0.55vw;
}

@mixin cardBoxSet() {
    border-radius: 13%;
    width: 11.7vw;
    height: 16.4vw;
    position: relative;
    z-index: 2;

    @media all and (max-width:1440px) {
        width: 15vw;
        height: 20vw;
    }

    @media all and (max-width:1024px) {
        width: 42vw;
        height: 57vw;
        margin-top: 20vw;
    }

    @media all and (max-width:500px) {
        width: 65vw;
        height: 88vw;
        margin-top: 18vw;
    }
}


@mixin cardFontBackSet() {
    position: absolute;
    backface-visibility: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    width: 11.7vw;
    height: 16.4vw;
    // width: 300px;
    // height: 420px;
    border: 6px solid white;
    border-radius: 6%;
    overflow: hidden;

    @media all and (max-width:1680px) {
        border: 7px solid white;
    }

    @media all and (max-width:1440px) {
        border: 5.5px solid white;
        width: 15vw;
        height: 20vw;
    }

    @media all and (max-width:1024px) {
        width: 42vw;
        height: 57vw;
        border: 10px solid white;
        border-radius: 6%;
    }

    @media all and (max-width:500px) {
        border: 6px solid white;
        border-radius: 6%;
        // width: 54vw;
        // height: 71vw;
        //17
        width: 65vw;
        height: 88vw;
    }
}

@mixin cardPageNameBox() {
    display: flex;
    margin-top: 18.5vw;
    z-index: 33;
    text-align: center;
    justify-content: center;

    @media all and (max-width:1440px) {
        margin-top: 22.5vw;
    }

    @media all and (max-width:1024px) {
        margin-top: 68vw;
    }

    @media all and (max-width:500px) {
        margin-top: 95vw;
    }
}

@mixin cardPageIcon() {
    padding-top: 2px;
    display: block;
    align-items: center;
    align-self: center;

    img {
        width: 25px;
        align-items: center;
        align-self: center;
        display: block;

        @media all and (max-width:1680px) {
            width: 18px;
        }

        @media all and (max-width:1440px) {
            width: 16px;
        }

        @media all and (max-width:1366px) {
            width: 14px;
        }

        @media all and (max-width:1024px) {
            width: 26px;
        }

        @media all and (max-width:500px) {
            width: 3.5vw;
        }
    }
}

@mixin cardPageNameText() {
    font-family: 'Noto Serif TC', serif;
    font-size: 1.2vw;
    text-align: center;
    font-weight: 600;
    color: #000000;
    margin-left: 0.8vw;
    letter-spacing: 0.07em;

    @media all and (max-width:1024px) {
        font-size: 3.5vw;
        margin-left: 2vw;
        letter-spacing: 0.1em;

    }

    @media all and (max-width:500px) {
        font-size: 5vw;
        letter-spacing: 0.12em;
        margin-left: 2vw;
    }
}

@mixin cardTitle() {
    position: relative;
    font-size: 1.2vw;
    color: #adbc8a;
    font-family: 'Noto Serif TC', serif;
    font-weight: 500;
    letter-spacing: 0.1em;
    z-index: 5;
    // opacity: 0;

    @media all and (max-width:1024px) {
        font-size: 4.5vw;
    }

    @media all and (max-width:500px) {
        font-size: 5vw;
    }
}

@mixin cardTitleEn() {
    position: absolute;
    font-family: "Junge", cursive;
    font-size: 1.35em;
    font-weight: 500;
    letter-spacing: -0.1em;
    transform: scaleY(1.7);
    color: #d5d9c4;
    opacity: 0.1;
    top: -17%;
    left: 0;
    right: 0;
    margin: auto;

    @include tablet() {
        font-size: 8vw;
    }
}

@mixin cardContentBox() {
    // background-color: rgba(0, 0, 0, 0.473);
    background-color: #565b518f;
    background-image: url(../images/back_blur_bg.png);
    // background-position: center;
    background-size: 11.7vw;
    padding-top: 3vw;
    z-index: 30;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding-bottom: 7vw;
    position: relative;
    z-index: 10;
    opacity: 0;

    @media all and (max-width:1440px) {
        background-size: cover;
        padding-top: 4vw;
    }

    @media all and (max-width:1024px) {
        background-size: 44.5vw;
        background-position: center;
        padding-top: 11vw;
        padding-bottom: 15vw;
    }

    @media all and (max-width:500px) {
        background-size: cover;
        padding-top: 14vw;
        padding-bottom: 22vw;
    }
}

@mixin cardSubTitle() {
    margin-top: 0.2vw;
    color: #b6b79e;
    font-family: "Noto Serif TC", serif;
    font-weight: 400;
    font-size: 0.75vw;
    letter-spacing: 0.05vw;

    @include tablet() {
        font-size: 4vw;
        letter-spacing: 0.1em;
        margin-top: 2vw;
    }
}

@mixin cardContent() {
    margin-top: 1vw;
    font-size: 0.7vw;
    font-family: '微軟正黑體';
    letter-spacing: 0.1em;
    line-height: 1.6vw;
    z-index: 100;
    color: white;
    opacity: 1;
    padding-left: 0.2vw;

    @media all and (max-width:1440px) {
        font-size: 0.9vw;
        line-height: 2.2vw;
    }

    @media all and (max-width:1024px) {
        font-size: 2.5vw;
        line-height: 6vw;
        margin-top: 4vw;
    }

    @media all and (max-width:500px) {
        font-size: 4vw;
        line-height: 9.5vw;
        padding-left: 2.5vw;
        margin-top: 6vw;
    }

}

@mixin cardFooter() {

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.8vw;
    position: absolute;
    width: 100%;
    top: 70%;

    @include tablet() {
        top: 89%;
        padding: 0 6vw;
    }

    .cardText {
        font-family: "Cormorant Garamond", serif;
        color: #d5d9c4;
        opacity: 0.5;
        font-size: 0.6vw;
        letter-spacing: 0.1em;
        margin-left: 0.4vw;

        @include tablet() {
            font-size: 3.5vw;
            margin-left: 2vw;
        }
    }

    .cardLine {
        flex: 1 1;
        width: 50%;
        height: 1px;
        background-color: #d5d9c4;
        opacity: 0.3;
    }
}

@mixin envelope() {
    position: absolute;
    z-index: 10;
    bottom: -0.5vw;
    left: -0.65vw;

    @media all and (max-width:1440px) {
        left: -0.75vw;
    }

    @media all and (max-width:1024px) {
        left: -2.2vw;
        bottom: -1.5vw;
    }

    @media all and (max-width:500px) {
        left: -3.5vw;
        bottom: -1.5vw;
        // display: none;
    }

    img {
        width: 13vw;

        @media all and (max-width:1440px) {
            width: 16.5vw;
        }

        @media all and (max-width:1024px) {
            width: 46.5vw;
        }

        @media all and (max-width:500px) {
            width: 72vw;
        }
    }
}


@mixin cardShadow() {
    position: absolute;
    z-index: 1;
    left: 1.8vw;
    top: 0.3vw;

    img {
        width: 11.7vw;
        height: 17.5vw;

        @media all and (max-width:1024px) {
            opacity: 0;
            width: 46.7vw;
            height: 62.5vw;
        }

        @media all and (max-width:500px) {
            width: 60.7vw;
            height: 78.5vw;
        }
    }
}

@mixin casePageBannerTitle() {
    @include fontSize24pt();
    color: #4e5e2c;
    font-weight: 700;
    font-family: 'Noto Serif TC', serif;
    margin-bottom: 2vw;
    letter-spacing: 0.1em;

    @media all and (max-width:1024px) {
        font-size: $main-title;
        margin-bottom: 3vw;
        text-align: center;
    }
}

@mixin casePageBannerContent() {
    @include fontSize16pt();
    color: #000000;
    font-family: '微軟正黑體';
    line-height: 2;
    letter-spacing: 0.1em;
    word-break: break-all;

    @media all and (max-width:1440px) {
        line-height: 2vw;
    }

    @media all and (max-width:1024px) {
        font-size: $content;
        line-height: 7vw;
        word-break: normal;
        text-align: justify;
    }
}

@mixin caseListNameMoblie() {
    font-size: 5vw;
    font-family: 'Noto Serif TC';
    font-weight: bold;
    color: #4e5e2c;
    letter-spacing: 0.1em;
    margin-top: 4vw;
    margin-bottom: 3vw;
}

@mixin caseListTitleMoblie() {
    font-size: 3.7vw;
    font-family: '微軟正黑體';
    color: #494949;
    letter-spacing: 0.1em;
    margin-bottom: 2vw;
}